

body {
  background-color: #4b4a4c;
  color: #fff;
  font-family: "Avenir Next Ultralight", sans-serif;
  margin: 0px;
}


h1 {
  font-size: 8vh;
}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  height: 66vh;
}

.one, .two, .three, .four, .five {
  background-color: #323232;
  text-align: center;
}

.two img {
  height: 80px;
  padding-top: 5vh;
}

.four h1 {
  margin: 0px;
  font-size: 8vh;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1;
}
.three {
  grid-column: 3 / 4;
  grid-row: 1;
}
.four {
  grid-column: 1 / 4;
  grid-row: 2;
}
.five {
  grid-column: 1 / 4;
  grid-row: 3;
}


.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  height: 34vh;
  background-color: #4a4a4c;
}

.six {

}

.seven {

}

.eight {

}

.textblock {
  background-color: #3a3a3c;
  width: 25vw;
  height: 25vw;
  margin-left: 3.5vw;
  position: relative;
  top: -10vw;
 
  text-align: center;

  border-style: solid;
}

.textblock p {
  margin: 0px;
  font-size: 2vw;
}

.eight .textblock p {
  position: relative;
  top: -20px;
}

.textblock h2 {
  padding-top: 10px;
  font-size: 4vw;
  padding-bottom: 0px;
}

.six .textblock {
  border-color: #ecb0c4;
}

.seven .textblock {
  border-color: #8eb7df;
}

.eight .textblock {
  border-color: #fbe77e;
}

.wrapper3 {
  text-align: center;
}

.wrapper3 p {
  margin: 0px;
  font-size: 1.5vw;
}

.wrapper3 img {
  height: 20px;
  position: relative;
  top: 4px;
}
