@font-face {
  font-family: Avenir;
  src: url(AvenirNext-UltraLight.ttf) format("truetype");
  font-style: normal;
}

body {
  background-color: #4b4a4c;
  color: #fff;
  font-family: Avenir, sans-serif;
  margin: 0px;
}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  height: 66vh;
}

.one, .two, .three, .four, .five {
  background-color: #323232;
  text-align: center;
}

.two img {
  height: 80px;
  padding-top: 5vh;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1;
}
.three {
  grid-column: 3 / 4;
  grid-row: 1;
}
.four {
  grid-column: 1 / 4;
  grid-row: 2;
}
.five {
  grid-column: 1 / 4;
  grid-row: 3;
}

@media only screen
and (min-width: 700px)
{ 
.four h1 {
  margin: 0px;
  font-size: 8vh;
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  height: 34vh;
  background-color: #4a4a4c;
}

.textblock p {
  margin: 0px;
  font-size: 1.5vw;
  position: relative;
  top: 10%;
}

.textblock h2 {
  font-size: 4vw;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

}

.six {

}

.seven {

}

.eight {

}

.textblock {
  background-color: #3a3a3c;
  width: 25vw;
  height: 25vw;
  margin-left: 3.5vw;
  position: relative;
  top: -10vw;
 
  text-align: center;
  border-style: solid;
}

.six .textblock {
  border-color: #ecb0c4;
}

.seven .textblock {
  border-color: #8eb7df;
}

.eight .textblock {
  border-color: #fbe77e;
}

.wrapper3 {
  text-align: center;
}

.wrapper3 p {
  margin: 0px;
  font-size: 2vw;
}

.wrapper3 img {
  height: 20px;
  position: relative;
  top: 4px;
}

@media only screen
and (max-width: 700px)
{ 
body {
  overflow-x: hidden;
}

.wrapper2 {
  grid-template-columns: repeat(1, 1fr);
  height: 100vh;
  position: relative;
  left: 8vw;
  margin: auto; 
  margin-bottom: 110vh;
}

.textblock {
  top: -10vh;
  width: 75vw;
  height: 75vw;
  margin-bottom: 50px;
}

.textblock h2 {
  font-size: 12vw;
}

.textblock p {
  font-size: 5vw;
}

.eight .textblock p {
  position: relative;
  top: -50px;
}
.four h1 {
  font-size: 6vh;
}
}
